<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../templates/Pagina_profesor.css">
</head>
<body>
<label class="label">Bienvenido a Profesor</label>
<div class="header">
    <button class="botones">Registrar Alumnos</button>
    <button class="botones">Tus Empresas</button>
    <button class="botones">Registrar Empresa</button>
</div>
<div class="content">
    <h2 class="h2">Tus alumnos...</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Teléfono</th>
        </tr>
    </table>
</div>
<div class="footer">
    <button class="buttonCS">Cerrar Sesión</button>
</div>
</body>
</html>